# Binaries
**/bin/
build

# conan
conan.lock
conanbuildinfo*
conaninfo.txt
graph_info.json

# clang
compile_commands.json
.clangd

# vscode
.vscode

# visual studio files
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user